body {
  font-family: "JetBrains Mono", monospace;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  padding: 0px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTitle {
  font-size: 30px;
  cursor: pointer;
}

.searchContainer {
  padding: 10px 20px;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.search {
  border: none;
  background: transparent;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: white;
}

.searchIcon {
  margin-left: 5px;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-left: 25px;
  cursor: pointer;
  font-weight: 500;
}

.navBottom {
  padding: 120px 190px;
}

.sliderWrapper {
  display: flex;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-container {
  width: 700px;
}

.edu {
  font-size: 70px;
  letter-spacing: 3px;
}

.edu-desc {
  letter-spacing: 3px;
  font-size: 30px;
  margin: 30px 0px;
}

.edu-p {
  font-size: 20px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 160px;
  right: 370px;
  position: absolute;
}

.phone {
  flex: 1;
  width: 300px;
  height: 600px;
  position: relative;
}

.phoneScreen {
  width: 264px;
  height: 567px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}

.phoneScreen::-webkit-scrollbar {
  display: none;
}

.phoneApp {
  width: 100%;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: lightgray;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: lightgray;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 25%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.movie-list-title.active {
  color: black;
}

@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }

  .search {
    display: none;
  }

  .menuItem {
    margin: 16px;
    font-weight: 700;
    font-size: 20px;
  }

  .edu {
    display: none;
  }

  .searchContainer {
    display: none;
  }
}

footer {
  padding: 30px 20px;
  background-color: black;
  color: white;
}

form {
}

.form-container {
  padding: 20px 50px;
  padding-bottom: 100px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-left {
  flex: 1;
}

.form-right {
  flex: 1;
}

form {
  margin-top: 20px;
}

.form-title {
  font-size: 30px;
  font-weight: 500;
}

.forms {
  width: 50%;
  height: 50px;
  margin: 10px 0px;
  border: 1px solid black;
  padding-left: 10px;
  font-size: 14px;
}

.forms:focus {
  outline: none;
}

button {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

@media only screen and (max-width: 940px) {
  .navBottom {
    padding: 10px 20px;
  }

  .edu {
    font-size: 20px;
  }

  .edu-desc {
    display: none;
  }
  .edu-p {
    display: none;
  }
  .phone {
    display: none;
  }

  .forms {
    width: 100%;
  }
}
